
.custom-logo {
    height: 46px;
    padding-bottom: 8px;
    padding-left: 15px !important;
}

@media (min-width: 992px){
    body.vertical-layout.vertical-menu-modern .toggle-icon {
        /*margin-left: 1rem;*/
        margin:0;
        padding-left: 0.5rem;
        position: absolute;
        z-index: 1;
    }
    .navbar-dark .navbar-nav li {
        line-height: 1;
        margin-left: 30px;
    }
}


